<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <input class="search" v-model="search" />
                <div v-if="loadingUsers">Loading users...</div>
                <div v-else-if="couldNotFetchUsers">The users could not be retrieved, please try again later.</div>
                <div v-else-if="users.length === 0">No users registered</div>
                <div v-else>
                    <ul>
                        <li v-for="user in userSearchResult">
                            <span>{{ user.name }}</span>
                            <span class="text-secondary">@{{ user.alias }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
.search {
    margin: 1em auto;
    width: 100%;
}

</style>

<script>
import { deburr as _deburr } from 'lodash';

export default {
    data() {
        return {
            loadingUsers: true,
            couldNotFetchUsers: false,
            search: '',
            users: []
        }
    },
    computed: {
        /**
         * Returns the filtered and sorted list of users
         * @returns {array} - users that match the search and sorted
         */
        userSearchResult() {
            return this.users
                .filter(user => {
                    if (this.search.startsWith('@')) { // if searching by alias
                        return this.cleanString(user.alias).startsWith(this.cleanString(this.search.substr(1)));
                    }
                    // if searching globally we will suppose they are looking by their name
                    return this.cleanString(user.name).includes(this.cleanString(this.search));
                })
                .sort((a, b) => this.cleanString(a.name).localeCompare(this.cleanString(b.name)));
        }
    },
    methods: {
        /**
         * Remove accentuation and lowercase the string
         * @param {string} s - the string to be "cleaned"
         * @returns {string} - the non-accentuated and lowercased string
         *
         * @example cleanString('Tomáš Souček') => 'tomas soucek'
         */
        cleanString(s) {
            return _deburr(s.toLowerCase());
        }
    },
    async mounted() {
        // Retrieving data
        try {
            const result = await window.axios.get('/api/persons');
            this.users = result.data;
            this.couldNotFetchUsers = false;
        } catch(e) {
            this.couldNotFetchUsers = true;
        } finally {
            this.loadingUsers = false;
        }
    }
}
</script>
